---
layout: default
title: HTML
permalink: /details/HTML
---
<style type="text/css">
  #an-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
  }
  .list {
    list-style: none;
  }
  .list li {
    padding-left: 10px;
    list-style: inside;
    color: #666
  }
  .an-table{
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  .an-table th,.an-table td {
    padding: 2px 5px;
  }
</style>
<div>
  <h2>什么是 HTML？</h2>
  HTML 是用来描述网页的一种语言。
  <ul class="list">
    <li>HTML（HyperText Markup Language）是一种用于创建网页的标记语言。</li>
    <li>HTML 不是一种编程语言，而是一种标记语言</li>
    <li>标记语言是一套标记标签 (markup tag)</li>
    <li>HTML 使用标记标签来描述网页</li>
    <li>HTML 文档包含了HTML 标签及文本内容</li>
    <li>HTML文档也叫做 web 页面</li>
  </ul>
</div>
<h2>HTML 版本</h2>
<div>
</div>
<h2>HTML 标签</h2>
<h2>HTML 属性</h2>
<h2>标签（118）</h2>
<table border="0" class="an-table">
  <thead>
    <tr>
      <th>标签</th>
      <th>描述</th>
      <th>示例</th>
    </tr>
  </thead>
  <tbody>
    {% assign type = '12' %}
    {% for node in site.data.html %}
      {% if node.type != type %}
        {% assign type = node.type %}
        <tr>
          <td>{{ node.type }}</td>
          <td>-</td>
          <td>-</td>
        </tr>
      {% endif %}
      <tr>
        <td>
          <code>
            {{node.name | replace: "<", "&lt;" | replace: ">", "&gt;"}}
          </code>
        </td>
        <td>{{node.description}}</td>
        <td>
          <button data-type="demo" data-demo="{{node.demo | replace: '"', '&quot;'}}">
            查看示例
          </button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<!-- <div id="an-modal">
  <div class="an-modal-header">
    
  </div>
  <div class="an-modal-content">

  </div>
  <div class="an-modal-code">

  </div>
</div> -->
<div class="an-code-block">
  <div class="an-code-btn" onclick="toggleCodeBlock(this)">
    查看代码
  </div>
  <div class="an-code-content">
    <div class="an-code-block">
      <div class="an-code-btn" onclick="toggleCodeBlock(this)">
        查看代码
      </div>
    </div>
  </div>
  <code class="an-code">
  </code>
</div>
<script>
  window.addEventListener('click', function(e) {
    if (e.target.tagName === 'BUTTON' && e.target.dataset.type === 'demo') {
      var modal = document.getElementById("an-modal");
      // if (!document.getElementById("Modal")) {
      //   var modal = document.createElement("div");
      //   modal.id = "Modal";
      // }
      modal.querySelector('.an-modal-content').innerHTML = e.target.dataset.demo;
      modal.querySelector('.an-modal-code').innerHTML = codeFormat(e.target.dataset.demo);
    }
  })
</script>
<script>
  function codeFormat(code) {
    return code.replace(/</g, "&lt;").replace(/>/g, "&gt;")
  }
  function toggleCodeBlock(e) {
    const parent = e.parentElement;
    const codeBlock = parent.querySelector(".an-code-content").innerHTML;
    const code = parent.querySelector(".an-code");
    console.log((codeBlock.match(/^[^\S\n]*(?=\S)/gm) || []).length);
    // code.innerHTML = codeBlock.replace(/</g, "&lt;").replace(/>/g, "&gt;")
    // .replace(/^[^\S\n]*(?=\S)/gm, "&nbsp;")
    // .replace(/^\t+/gm, "&nbsp;")
    // .replace(/\n|\r\n/g, "<br />")
    code.innerHTML = codeBlock.replace(/</g, "&lt;").replace(/>/g, "&gt;")
    console.log(codeBlock.toString());
  }
</script>
<script src="{{site.url}}/assets/js/utils.js" type="text/javascript"></script>
